<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ivor.module001">

    <application android:theme="@style/Theme.Structure.Base"
        tools:replace="android:theme">
        <activity android:name=".Main001Activity" />
    </application>

</manifest>